* {
    box-sizing: border-box;
}

header nav {
    display: inline-block;
    text-align: center;
    /* position: fixed; */
    color: lightgrey;
}

.main-container {
    margin: 0 auto;
    width: 800px;
}

.hero-container {
    display: inline-block;
    margin: 0 auto;
}

h1 {
    font-size: 4rem;
}

button {
    background: white;
    width: 175px;
    height: 35px;
    border: 1px solid black;
    font-size: 16px;
}