* {
    box-sizing: border-box;
}

header h1 {
    display: inline-block;
}

header nav {
    display: inline-block;
}

.main-container {
    margin: 0 auto;
    width: 800px;
}

.hero-container {
    display: inline-block;
    margin: auto;
}